<!DOCTYPE html>
<html xmlns:background="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/public.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link href="../static/css/loading.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>员工管理</span>
        </div>
        <div class="search">
            <span>员工编号：</span>
            <input id="empNo" type="text" placeholder="请输入员工编号"/>

            <span>员工姓名：</span>
            <input id="empName" type="text" placeholder="请输入员工姓名"/>
            <span>员工类型：</span>
            <select id="empType" name="empType">
                <option value="">---请选择---</option>
                <option value="0">正式员工</option>
                <option value="1">合同员工</option>
            </select>
            <input id="queryEmp" onclick="queryEmp()" type="button" value="查询"/>
            <a  style="width: auto;padding-right: 10px;margin: 10px;" onclick="addEmployee()">添加员工</a>
            <a  id="importEmp" style="width: auto;padding-right: 10px;margin: 10px;" onclick="openImportEmp()">导入</a>
        </div>
        <table id="employee" class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">员工编号</th>
                <th width="20%">员工姓名</th>
                <th width="10%">手机号</th>
                <th width="10%">身份证编号</th>
                <th width="10%">员工类别</th>
                <th width="10%">基本工资</th>
                <th width="10%">操作</th>
            </tr>

        </table>
        <div id="empPage">

        </div>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/js/child.js"></script>
<script src="../static/js/empManage.js"></script>
<script src="../static/js/jquery.form.js"></script>
<div id="loading">
    <img src="../static/img/loading.gif">
</div>
</body>
</html>