<div style="padding-top: 30px">
    <a href="../../emp/exportEmpModel?importType=1" style="margin: 0px;">员工导入模板</a>
    <!--<a href="../../emp/exportEmpModel?importType=0" style="margin: 0px;">正式工导入模板</a>-->
    <!--<a onclick="exportEmpModel()" style="margin: 0px;">其他奖模板</a>-->
</div>
<input type="file" style="margin-top: 20px;" id="importEmp" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
<p id="showTishi" style="margin-top: 15px;color: red;"></p>
<div>
    <a href="#" onclick="iframe.importEmp()">确定</a>
    <a href="#" onclick="modelHide();">取消</a>
</div>

