<!DOCTYPE html>
<html xmlns:background="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/public.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>

        <div class="search">
            <form id="imoprtForm" enctype="multipart/form-data">
            <input id="importEmp" name="importEmp" style="background: #87c212;" type="file" value="选择文件"/>

            </form>
            <input id="motifyEmp" style="background: #87c212" onclick="importEmp()" type="button" value="员工导入"/>
        </div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/child.js"></script>
<script src="../static/js/empManage.js"></script>
<script src="../static/js/jquery.form.js"></script>
</body>
</html>