@charset "utf-8";
.tdrig{
    text-align:right;
    font-family:"宋体";
    font-size:9px;
}
.width-text{
    width:200px;
}
a span{
    font-size:14px;
    color:white;
}
a:hover {
    text-decoration: none;
}
.Hui-article-box{
    top:0px;
}
.note-link:hover {
    text-decoration: none;
}
.cur{
    background-color:#777;
}
.Wdate{
    width:150px;
}
