@charset "utf-8";
/* -----------H-ui前端框架-----------------------
H-ui.docs.css v2.0.102
Copyright H-ui Inc.
http://www.H-ui.net
date:2016.03.14
Created & Modified by guojunhui.
----------------------------------------------*/
.bg-1{ background-color:#f5fafe}
/**/
#Hui-navbar{border-bottom:#080808 1px solid;-moz-box-shadow: 0 0 4px #333333;-webkit-box-shadow: 0 0 4px #333333;box-shadow: 0 0 4px #333333}
.Hui-wraper{ padding:20px}
.navbar-userbar{ padding-top: 8px}
.Hui-article{ top:40px;left: 20px;}
.breadcrumb{ position:relative; z-index:98}
.navbar-userbar{ position:absolute; top:0; right:15px}
@media (max-width:767px) {
    #Hui-nav{display: block; top: 0; left: 65px; right: 65px; position:absolute;}
    #Hui-nav > ul { width: 100%}
    #Hui-nav > ul > li{ width: 20%;text-align:center;}
    #Hui-nav > ul > li a{ text-align: center; padding: 0}
}
/*侧边导航*/
.Hui-aside{background-color:#075174;border-right: 1px solid #222}/*侧边栏*/
.Hui-aside .menu_dropdown dt{color:#fff;border-bottom: 1px solid #222;font-weight:normal}/*左侧二级导航菜单*/
.Hui-aside .menu_dropdown li a{color:#fff;border-bottom: 1px solid #222}
.Hui-aside .menu_dropdown li a:hover{color:#fff;background-color:#777}
.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{ color:#fff;background:#777}