<div class="search" style="height: auto; ">
    <table>
        <tr><td><input type="password" minlength="8" maxlength="16" id="oldPass" placeholder="旧密码"/></td></tr>
        <tr><td><input type="password" minlength="8" maxlength="16" id="newPass" placeholder="新密码"/></td></tr>
        <tr><td><input type="password" minlength="8" maxlength="16" id="newPass2" placeholder="重新输入密码"/></td></tr>
    </table>
</div>
<p id="passTishi" style="color: red;">密码由数字和英文组成，8到16位</p>
<div>
    <a style="margin: 0px" onclick="passwordUpdate()">确定</a>
    <a style="margin: 0px" onclick="modelHide('modifyPass');">取消</a>
</div>
<script>
    function passwordUpdate() {
        $("#newPass").css("border-color","initial");
        $("#newPass2").css("border-color","initial");
        $("#oldPass").css("border-color","initial");
        $("#passTishi").text("");
        var newPass = $("#newPass").val();
        var newPass2 = $("#newPass2").val();
        var oldPass = $("#oldPass").val();
        if(newPass == "" || newPass2 == "" || oldPass == ""){
            $("#passTishi").text("输入为空");
            return;
        }
        var pwdReg = /^[a-zA-Z0-9]{8,16}$/;
        var pwdReg1 = /^[a-zA-Z0-9]{5,16}$/;
        if(!pwdReg.test(newPass)){
            $("#newPass").css("border-color","red");
            $("#passTishi").text("只能输入英文和数字，8到15位");
            return;
        }
        if(!pwdReg.test(newPass2)){
            $("#newPass2").css("border-color","red");
            $("#passTishi").text("只能输入英文和数字，8到15位");
            return;
        }
        if(!pwdReg1.test(oldPass)){
            $("#oldPass").css("border-color","red");
            $("#passTishi").text("只能输入英文和数字，8到15位");
            return;
        }
        if($("#newPass").val() != $("#newPass2").val()){
            $("#passTishi").text("两次密码输入不同");
            return;
        }
        $('#loading').show();
        $.post("../../user/updatePassword", {"oldPass":oldPass,"newPass":newPass},function(data){
            $('#loading').hide();
            if(data.code == "0000"){
                modelHide("modifyPass");
                alertShow("密码修改成功,重新登录！");
                location.href = "login.html";
            }else if(data.code == "1010"){
                $("#passTishi").text("密码输入错误");
            }else if(data.code == "1001"){
                $("#passTishi").text("参数为空");
            }else {
                $("#passTishi").text("密码修改失败");
            }
        },'json');
    }

</script>