<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/public.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
<section class="publicMian">
        <div class="wFont" style="background-image: url('../static/img/title.jpeg'); background-repeat: no-repeat;">
            <h2 id="user"></h2>
            <!--<h1>欢迎来到山大六院工资管理系统!</h1>-->
        </div>
</section>
<footer class="footer">
</footer>
<script src="../static/js/time.js"></script>
</body>
</html>