<div>
    <a href="#" style="margin: 0px;">合同工资模板</a>
    <a href="#" style="margin: 0px;">正式工资模板</a>
    <a href="#" style="margin: 0px;">其他奖模板</a>
</div>
<input type="file" style="margin-top: 20px;" id="salaryfile" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
<p id="showTishi" style="margin-top: 15px;color: red;"></p>
<div>
    <a href="#" onclick="iframe.fileImport()">确定</a>
    <a href="#" onclick="modelHide();">取消</a>
</div>